@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Dean's Board Game Blog</h1>
    <p>Blogging about Board Games since 2021.</p>
</div>
